<h2>Update-moment!</h2>

<div class="container-fluid">

    <form [formGroup]="updateMform">

        <div class="form-group">
            <label>Comments</label>
            <input formControlName="comment" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Image</label>
            <img *ngIf="data.image_url" [src]= "data.image_url" height="200" width="200">
        </div>

        <div class="form-group">
            <label>Comments</label>
            <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" formControlName="comment">
                <mat-chip *ngFor="let chip of data.tags"  >
                  {{chip}}
                </mat-chip>
              </mat-chip-list>
        </div>

        <button [disabled]="!updateMform.valid" type="submit" class="btn btn-primary" (click) = "update(updateMform.value)">Update</button>

    </form>
</div>